* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width:1270px;
  margin: auto;
}

#logo{
  width: 268px;
  height: auto;
  padding: 20px;
}

#containLogo{
  display: flex;
  justify-content: center;
}

#carteRecipe{
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
}

.containRecipe{
  height: 364px;
  width: 380px;
  margin: 20px;
  border-radius: 5px;
  background-color: #E7E7E7;
}

.RecipeImg{
  height: 190px;
  width: 380px;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0px 0px;
}

.recipeInfo{
  height: 190px;
  background-color: #E7E7E7;
  padding: 20px;
  max-height: 186px;
  border-radius: 0px 0px 5px 5px;
}  
.infoNameTime, .infoIngredientsDescription{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}  

.recipeName{
  font-size: 18px;
}
.recipeIngredients{
  font-size: 12px;
  max-height: 109px;
  max-width: 171px;
}     
.recipeTime{
  font-size: 18px;
} 
.recipeDescription{
  font-size: 12px;
  max-height: 100px;
  max-width: 171px;
  text-overflow: ellipsis;
	overflow: auto;
}  

.classDivTags{
    max-height: 110px;
    text-overflow: ellipsis;
    overflow: auto;
  }

.ingredientFilterClick{
  background-color: #3282f7;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.applianceFilterClick{
  background-color: #68D9A4;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.ustensilesFilterClick{
  background-color:#ED6454;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

i{
  margin: 10px;
}

#filterSelected{
  max-width: 1240px;
  margin: 10px;
}

.filtreClckIngredients{
  color: white;
  background-color: #3282f7;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.filtreClickAppliance{
  color: white;
  background-color: #68D9A4;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.filtreClickUstensils{
  color: white;
  background-color: #ED6454;
  margin: 10px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
}

.TextErreur{
  text-align: center;
  color: #ED6454;
}

#TextErreur{
  display: flex;
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 1000px;
  height: 40px;
  background-color: #e7e7e76b;
  color: #d04f4f;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}