* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width:1270px;
  margin: auto;
}

#containBarreRecherche{
  display: flex;
  justify-content: center;
}

/*------------------D BARRE DE RECHERCHE-------------------*/
#siteSearch{
  width:100%;
  height :69px;
  background-color: #E7E7E7;
  border: 0px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 5px;
}
#siteSearchIngredients::placeholder, #siteSearchAppareil::placeholder, #siteSearchUstensiles::placeholder{
  color: #FFFFFF;
  border: none;
  border: 0px;
  font-size: 18px;
}

/*.........................*/
#siteSearchIngredients{
  width: 667px;
  height: 69px;
  padding: 10px;
  background-color:#3282F7;
  border: none;
}
#siteSearchAppareil{
  width: 667px;
  height: 69px;
  padding: 10px;
  background-color:#68D9A4;
  border: none;
}
#siteSearchUstensiles{
  width: 667px;
  height: 69px;
  padding: 10px;
  background-color:#ED6454;
  border: none;
}
/*--------------------------*/

/*------------------F BARRE DE RECHERCHE-------------------*/




#containMotsCles{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 10px;
}
/*..................................*/
details{
  width: 170px;
  height: 69px;
  color: white;
  text-align: center;
  padding: 25px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
}
summary{
  z-index: 1;
}
details ul {
  z-index: 1;
  list-style-type: none;
}

details ul::after{

    content: "";
    display: table;
    clear: both;
}

details a{
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  font-size: 18px;
}

#motsCles1{
  background-color: #3282f7;
}
#motsCles2{
  background-color: #68D9A4;
}
#motsCles3{
  background-color: #ED6454;
}

/*..................................*/
#sousRecherche1{
  display: flex;
  flex-wrap: wrap;
  display: none;
  background-color: #3282F7;
  color: white;
  width: 100%;
  left: 0px;
  border-radius: 5px;
  font-size: 18px;
  top: 0;
  position: absolute;
}

#sousRecherche2{
  display: flex;
  flex-wrap: wrap;
  display: none;
  background-color: #68D9A4;
  color: white;
  width: 100%;
  left: 0px;
  border-radius: 5px;
  font-size: 18px;
  top: 0;
  position: absolute;
}

.summary{
  display: flex;
  justify-content: space-between;
  width: 135px;
}
::marker{
  color: #fff0;
}
#chevronOpen1, #chevronOpen2, #chevronOpen3{
  line-height: -0;
}

#sousRecherche3{
  display: none;
  background-color: #ED6454;
  color: white;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
}
/*..................................*/
 details #sousRecherche1, details #sousRecherche2, details #sousRecherche3{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  align-items: flex-start;
  
}

#sousRecherche1 li, #sousRecherche2 li, #sousRecherche3 li{
  max-width: 100%;
  display: flex;
  float: none;
  text-align: left;
}
#sousRecherche1 a, #sousRecherche2 a, #sousRecherche3 a{
  padding: 10px;
  border-bottom: none;
}
#sousRecherche1 details, #sousRecherche2 details, #sousRecherche3 details{
  width: 100%;
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}

.motsSuggerer{
  width: 210px;
  padding: 5px;
  padding-left: 20px;
}

#sousRecherche1, #sousRecherche2, #sousRecherche3{
  text-overflow: ellipsis;
	overflow: hidden;
}

#divIngredients, #divAppareil, #divUstensiles{
  width: 667px;
  max-height: 397px;;
  text-overflow: ellipsis;
	overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

#motsCles1[open], #motsCles2[open], #motsCles3[open]{
  width: 53%;
  height: auto;
}

@media screen and (min-width:420px) and (max-width: 1073px){
  #motsCles1[open],#motsCles2[open], #motsCles3[open] {
    width: 380px;
  }

  
  #siteSearchIngredients, #siteSearchAppareil, #siteSearchUstensiles  {
    width: 340px;
  }
}
@media screen and (min-width: 340px) and (max-width: 570px){
  
  #motsCles1[open], #motsCles2[open], #motsCles3[open] {
    width: 300px;
  }

  #siteSearchIngredients, #siteSearchAppareil, #siteSearchUstensiles  {
    width: 260px;
  }
}

@media screen and (min-width: 0px) and (max-width: 340px){
  

  #motsCles1[open], #motsCles2[open], #motsCles3[open] {
    width: 250px;
  }
 
  #siteSearchIngredients, #siteSearchAppareil, #siteSearchUstensiles  {
    width: 200px;
  }

}