* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#logo{
  width: 268px;
  height: auto;
  padding: 20px;
}

#containLogo{
  display: flex;
  justify-content: center;
}

